/* global.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial, sans-serif';
  background: linear-gradient(120deg, #a8e063, #56ab2f, #00ff00, #ffffff); /* Degradado más suave con múltiples tonos de verde */
  color: #fff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
