.banner {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  flex-direction: column; /* Asegura que el contenido se apile verticalmente */
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center; /* Centra el texto dentro del banner */
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1 {
  font-size: 65px;
  color: #000000;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
}

.banner h2 {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
}

.banner p {
  color: #000000;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  max-width: 800px; /* Limita el ancho del párrafo */
  margin: 0 auto; /* Centra el párrafo horizontalmente */
}

.banner button {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
}

.banner button:hover svg {
  margin-left: 25px;
}

.banner img {
  animation: updown 3s linear infinite;
}

.Button-join {
  margin-left: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button-join:hover {
  color: #00FF00; /* Cambia el color al pasar el cursor */
}

.input-container {
  display: flex;
  justify-content: center; /* Centra el contenido dentro del contenedor */
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.input-container label {
  color: #000000;
  font-size: 1.2rem;
}

.document-input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #000000;
  text-align: center; /* Centra el texto dentro del campo de texto */
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
